<div class="com-siemens-bt-jazz-ui-WorkItemBulkMover">
	<!-- top navigation container including page title -->
	<div data-dojo-attach-point="messageBox" id="com-siemens-bt-jazz-ui-WorkItemBulkMover-messageBox" class="com-siemens-bt-jazz-ui-WorkItemBulkMover-messageBox"></div>
	<div data-dojo-attach-point="navContainer">
		<div dojotype="jazz.ui.Toolbar" class="com-siemens-bt-jazz-ui-WorkItemBulkMover-topControls" id="topControls" data-dojo-attach-point="topControls">
			<!-- place jazz toolbar here, see https://jazz.net/wiki/bin/view/WebUIBook/CommonComponentsAPI -->
		</div>
	</div>
	<!-- attach the dynamic page content in here -->
	<div data-dojo-attach-point="pageContent"></div>
</div>
