<div>
   <div v-if="!moveSuccessful" class="ui warning message">
      <div class="header">Your Work Items could not be moved automatically.</div>
      <p>You have to provide at least the required values in order to be able to move the selected work items.</p>
      <p v-if="serverError !== null">{{serverError}}</p>
   </div>

   <h3>Value Mappings</h3>
   <fieldset class="attr-mappings" v-for="attrDef in attributeDefinitions">
      <legend :title="attrDef.identifier" :id="attrDef.identifier">{{ attrDef.displayName }}</legend>
      <table class="ui celled table">
         <thead>
            <tr>
               <th></th>
               <th>New Value</th>
               <th>Old Value</th>
               <th>Affected Work Items</th>
            </tr>
         </thead>
         <tbody>
            <template v-for="valMap in attrDef.valueMappings">
               <tr>
                  <td style="width: 4%">
                     <span v-if="valMap.showDetails" data-tooltip="Click to collapse list" data-position="top left">
                        <i class="remove icon link" v-on:click="valMap.showDetails = false;"></i>
                     </span>
                     <span v-else :data-tooltip="'Click to specify ' + attrDef.displayName + ' for each affected Work Item'" data-position="top left">
                        <i class="add icon link" v-on:click="valMap.showDetails = true;"></i>
                     </span>
                  </td>
                  <td style="width: 44%">
                     <select style="width: 90%" @change="topChanged(valMap.oldValue.identifier, valMap.chosen)" v-model="valMap.chosen">
                        <option selected value="nothing"></option>
                        <option disabled value="multiple">[Multiple Values Selected...]</option>
                        <option :value="val.identifier" :id="val.identifier" v-for="val in attrDef.allowedValues">
                           {{hierarchify(val.displayName)}}
                        </option>
                     </select>
                     <span v-if="hasRequiredChild(valMap.affectedWorkItems)" data-tooltip="At least one of the child items requires this value to be specified.">
                        <i style="color: red;" class="warning icon" ></i>
                     </span>
                  </td>
                  <td style="width: 26%" :title="valMap.oldValue.identifier">
                     {{ valMap.oldValue.displayName }}
                  </td>
                  <td style="width: 26%" v-html="getLinkList(valMap.affectedWorkItems)"></td>
               </tr>
               <tr v-if="valMap.showDetails">
                  <td></td>
                  <td colspan="3">
                     <table class="ui celled table">
                        <thead>
                           <tr>
                              <th>New Value</th>
                              <th>Affected Work Item</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr v-for="affected in valMap.affectedWorkItems">
                              <td style="width: 46%">
                                 <select @change="subChanged(valMap.oldValue.identifier, affected.workItem.id, affected.chosen)" v-model="affected.chosen">
                                    <option selected value="nothing"></option>
                                    <option style="width: 90%" :value="val.identifier" :id="val.identifier" v-for="val in attrDef.allowedValues">
                                       {{hierarchify(val.displayName)}}
                                    </option>
                                 </select>
                                 <span v-if="affected.isRequired" data-tooltip="This attribute is required by the target project area.">
                                    <i style="color: red;" class="warning icon"></i>
                                 </span>
                                 <span v-else data-tooltip="It is up to your decision if you want to map this attribute. Unless specified here, the default value will be used.">
                                    <i style="color: blue;" class="info icon"></i>
                                 </span>
                              </td>
                              <td v-html="getTitledLink(affected.workItem)"></td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
            </template>
         </tbody>
      </table>
   </fieldset>
</div>
