<div>
   <div v-if="!moveSuccessful" class="ui warning message">
      <div class="header">Your Work Items are not moved yet.</div>
      <p>You have to provide at least the required values in order to be able to move the selected work items.</p>
      <p v-if="serverError !== null">{{serverError}}</p>
   </div>

   <h3>Value Mappings</h3>
   <fieldset class="attr-mappings" v-for="attrDef in attributeDefinitions">
      <legend :title="attrDef.identifier" :id="attrDef.identifier">{{ attrDef.displayName }}</legend>
      <table class="ui celled table">
         <thead>
            <tr>
               <th></th>
               <th>New Value</th>
               <th>Old Value</th>
               <th>Affected Work Item(s)</th>
            </tr>
         </thead>
         <tbody>
            <template v-for="valMap in attrDef.valueMappings">
               <template v-if="valMap.oldValue !== null">
               <tr>
                  <td style="width: 4%">
                     <span v-if="valMap.showDetails && valMap.affectedWorkItems.length > 1" data-tooltip="Click to collapse list" data-position="top left">
                        <i class="remove icon link" v-on:click="valMap.showDetails = false;"></i>
                     </span>
                     <span v-if="!valMap.showDetails && valMap.affectedWorkItems.length > 1" :data-tooltip="'Click to specify ' + attrDef.displayName + ' for each affected Work Item'" data-position="top left">
                        <i class="add icon link" v-on:click="valMap.showDetails = true;"></i>
                     </span>
                  </td>
                  <td style="width: 44%">
                     <select v-if="attrDef.isPrimitive && typeof valMap.oldValue.displayName === 'boolean'" style="width: 86%" v-bind:style="{color: isMulti(valMap.chosen) ? 'orange' : 'black'}" @change="topChanged(attrDef.identifier, valMap.oldValue.identifier, valMap.chosen)" v-model="valMap.chosen">
                        <option v-if="valMap.affectedWorkItems.length > 1" disabled value="[Multiple Values Selected...]">[Multiple Values Selected...]</option>
                        <option v-bind:value="true">true</option>
                        <option v-bind:value="false">false</option>
                     </select>
                     <input v-else-if="attrDef.isPrimitive && typeof valMap.oldValue.displayName === 'number'" style="width: 86%" @change="topChanged(attrDef.identifier, valMap.oldValue.identifier, valMap.chosen)" v-model.number="valMap.chosen" type="number"></input>
                     <input v-else-if="attrDef.isPrimitive" style="width: 86%" v-bind:style="{color: isMulti(valMap.chosen) ? 'orange' : 'black'}" @change="topChanged(attrDef.identifier, valMap.oldValue.identifier, valMap.chosen)" v-model="valMap.chosen"></input>
                     <span v-else-if="valMap.allowedValues.length == 0 && valMap.error" style="width: 86%; color: red; display: inline-block;">{{valMap.error}}</span>
                     <select v-else style="width: 86%" v-bind:style="{color: isMulti(valMap.chosen) ? 'orange' : 'black'}" @change="topChanged(attrDef.identifier, valMap.oldValue.identifier, valMap.chosen)" v-model="valMap.chosen">
                        <option selected value=""></option>
                        <option v-if="valMap.affectedWorkItems.length > 1" disabled value="[Multiple Values Selected...]">[Multiple Values Selected...]</option>
                        <option :value="val.identifier" :id="val.identifier" v-for="val in valMap.allowedValues">
                           {{createHierarchicalDisplayName(val)}}
                        </option>
                     </select>
                     <span v-if="isApplyAllAllowed(valMap.chosen, attrDef.valueMappings.length)" :data-tooltip="'Apply this value to all new ' + attrDef.displayName + ' values'">
                        <i style="cursor: pointer; font-weight: bold;" class="world icon" v-on:click="applyToAll(attrDef.identifier, valMap.chosen)"></i>
                     </span>
                     <i v-else class="world icon disabled"></i>
                     <span v-if="hasRequiredChild(valMap.affectedWorkItems)" data-tooltip="At least one of the items requires this value to be specified.">
                        <i style="color: red;" class="warning icon" ></i>
                     </span>
                     <span v-else data-tooltip="It is up to your decision if you want to map this attribute. Unless specified here, the default value will be used.">
                        <i class="warning icon disabled"></i>
                     </span>
                  </td>
                  <td style="width: 26%" :title="valMap.oldValue.identifier">
                     {{ valMap.oldValue.displayName }}
                  </td>
                  <td style="width: 26%" v-html="valMap.affectedWorkItems.length === 1 ? getTitledLink(valMap.affectedWorkItems[0].workItem) : getLinkList(valMap.affectedWorkItems)"></td>
               </tr>
               <tr v-if="valMap.showDetails">
                  <td></td>
                  <td colspan="3">
                     <table class="ui celled table">
                        <thead>
                           <tr>
                              <th>New Value</th>
                              <th>Affected Work Item</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr v-for="affected in valMap.affectedWorkItems">
                              <td style="width: 46%">
                                 <select v-if="attrDef.isPrimitive && typeof valMap.oldValue.displayName === 'boolean'" style="width: 86%" v-bind:style="{color: isMulti(valMap.chosen) ? 'orange' : 'black'}" @change="subChanged(attrDef.identifier, valMap.oldValue.identifier, affected.chosen)" v-model="affected.chosen">
                                    <option v-bind:value="true">true</option>
                                    <option v-bind:value="false">false</option>
                                 </select>                                 
                                 <input v-else-if="attrDef.isPrimitive && typeof valMap.oldValue.displayName === 'number'" style="width: 86%" @change="subChanged(attrDef.identifier, valMap.oldValue.identifier, affected.chosen)" v-model.number="affected.chosen" type="number"></input>
                                 <input v-else-if="attrDef.isPrimitive" style="width: 86%" @change="subChanged(attrDef.identifier, valMap.oldValue.identifier, affected.chosen)" v-model="affected.chosen"></input>
                                 <span v-else-if="valMap.allowedValues.length == 0 && valMap.error" style="width: 86%; color: red; display: inline-block;">{{valMap.error}}</span>
                                 <select v-else @change="subChanged(attrDef.identifier, valMap.oldValue.identifier, affected.chosen)" v-model="affected.chosen">
                                    <option selected value=""></option>
                                    <option style="width: 90%" :value="val.identifier" :id="val.identifier" v-for="val in valMap.allowedValues">
                                       {{createHierarchicalDisplayName(val)}}
                                    </option>
                                 </select>
                                 <span v-if="affected.isRequired" data-tooltip="This attribute is required by the target project area.">
                                    <i style="color: red;" class="warning icon"></i>
                                 </span>
                                 <span v-else data-tooltip="It is up to your decision if you want to map this attribute. Unless specified here, the default value will be used.">
                                    <i class="warning icon disabled"></i>
                                 </span>
                              </td>
                              <td v-html="getTitledLink(affected.workItem)"></td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               </template>
               <tr v-else style="color: red">
                  <td></td>
                  <td colspan="3">
                        Unable to read old value!
                  </td>
               </tr>
            </template>
         </tbody>
      </table>
   </fieldset>
</div>
