#WIMoveArea {
   margin-bottom: 100px;
}

#WIMoveArea h3 {
   color: black;
   font-size: 15px;
   font-weight: bold;
}

.wibm-ui-footer {
   color: gray;
}

.wibm-ui-footer a {
   color: gray;
   font-weight: bold;
   text-decoration: none;
}
.wibm-ui-footer a:hover {
    text-decoration: underline;
 }
