<div>
	<h1>Move Work Items between Project Areas</h1>
   <p><i>Move a selected number of Work Items from one project area to another, based on a query selection.</i></p>

	<div id="WIMoveArea">
      <button style="margin-top: 40px" v-if="!query" class="ui button primary" v-bind:class="{ loading: isQueryLoading }" v-on:click="loadQuery">Select a Query</button>
      <template v-else>
         <h3>Selected Query</h3>
         <span>{{query.name}}</span>
         <button style="margin-left: 20px" class="ui button mini" v-bind:class="{ loading: isQueryLoading }" v-on:click="loadQuery">Change</button>

         <template v-if="wiTable.gridData && wiTable.gridData.length > 0">
            <h3>Work Items</h3>
            <wi-table
               :total-count="totalCount"
               :work-items="wiTable.gridData"
               :columns="wiTable.gridColumns"
               :buttons="wiTable.buttons">
            </wi-table>
         </template>

         <div v-if="!isQueryLoading && (!wiTable.gridData || wiTable.gridData.length <= 0)" class="ui warning message">
            <div class="header">The query did not return any result. {{serverError}}</div>
         </div>

         <template v-if="selected">
            <h3>Target Project Area</h3>

            <select @change="getTargetWorkItemTypes()" v-model="targetProjectArea" v-bind:class="{ disabled: (isLoading) }" class="ui search dropdown">
               <option v-for="pa in projectAreas" :id="pa.id">{{pa.name}}</option>
            </select>
            <br /><br />

            <template v-if="isTypeMappingDataAvailable">
               <wi-type-mapper
                  :show-migrator="showMigrator"
                  :type-map="sourceTypes"
                  :target-types="targetTypes">
               </wi-type-mapper>

               <br /><br />

               <div v-if="showMigrator">
                  <wi-migrator
                     :server-error="serverError"
                     :attribute-definitions="attributeDefinitions"
                     :move-successful="moveSuccessful">
                  </wi-migrator>
               </div>

               <button v-if="!showMigrator" v-bind:class="{ disabled: (!areAllTypesMapped || isDataMissing || attributeDefinitions.length > 0), loading: isQueryLoading }" class="ui button primary" v-on:click="moveWorkItems(true)">Preview Value Mappings</button>
               <template v-else>
                  <span class="ui checkbox">
                     <input type="checkbox" name="skipMail" v-model="skipEmail">
                     <label>Suppress Work Item Email change notification</label>
                  </span>
                  <br/><br/>
                  <span class="ui checkbox">
                     <input type="checkbox" name="removeRank" v-model="removeRank">
                     <label>Remove Rank (recommended)</label>
                  </span>
                  <br/><br/>
                  <button v-bind:class="{ disabled: (!areAllTypesMapped || isDataMissing || !showMigrator), loading: isQueryLoading }" class="ui button primary" v-on:click="moveWorkItems(false)">Move {{countSelected}} Work Items</button>
               </template>

               <div v-if="moveSuccessful === false && attributeDefinitions.length > 0" class="ui warning message">
                  <div class="header">Your Work Items are not moved yet.</div>
                  <p>You have to provide at least the required values in order to be able to move the selected work items.</p>
                  <p v-if="serverError !== null">{{serverError}}</p>
               </div>
            </template>
            <div v-if="moveSuccessful" class="ui success message">
               <div class="header">Work Item Move Successful!</div>
               <p>All the selected Work Items have been moved to '{{targetProjectArea}}' project area successfully.</p>
               <button class="ui button mini" v-on:click="moveSuccessful = false;">Dismiss</button>
            </div>

            <div v-if="moveSuccessful === false && attributeDefinitions.length === 0 && serverError !== null" class="ui error message">
               <div class="header">Work Item Move failed!</div>
               <p>Unable to move Work Items and the server could not determine a useful mapping for you. This is due to the following error:</p>
               <p>{{serverError}}</p>
               <button class="ui button mini" v-on:click="serverError = null;">Dismiss</button>
            </div>
         </template>
      </template>
	</div>

   <p class="wibm-ui-footer">A <a href="http://jazz-community.org" target="_blank">Jazz Community</a> project, hosted on <a href="https://github.com/jazz-community" target="_blank">GitHub</a> | Version {{uiVersion}} <span style="opacity: 0.5;">({{serviceVersion}})</span></p>
</div>


