<div>
	<h1>Move Work Items between Project Areas</h1>
   <p><i>Move a selected number of Work Items from one project area to another, based on a query selection.</i></p>

	<div id="WIMoveArea">
      <button style="margin-top: 40px" v-if="!query" class="ui button primary" v-bind:class="{ loading: isQueryLoading }" v-on:click="loadQuery">Select a Query</button>
      <template v-else>
         <h3>Selected Query</h3>
         <span>{{query.name}}</span>
         <button style="margin-left: 20px" class="ui button mini" v-bind:class="{ loading: isQueryLoading }" v-on:click="loadQuery">Change</button>

         <template v-if="wiTable.gridData && wiTable.gridData.length > 0">
            <h3>Work Items</h3>
            <wi-table
               :total-count="totalCount"
               :work-items="wiTable.gridData"
               :columns="wiTable.gridColumns"
               :buttons="wiTable.buttons">
            </wi-table>
         </template>

         <div v-if="!isQueryLoading && (!wiTable.gridData || wiTable.gridData.length <= 0)" class="ui warning message">
            <div class="header">The query did not return any result. {{serverError}}</div>
         </div>

         <div v-if="!isQueryLoading && wiTable.gridData && wiTable.gridData.length < totalCount" class="ui info message">
            <div class="header">The '{{query.name}}' query contains {{totalCount}} work items. To bring you the best experience, we have limited it to the first {{wiTable.gridData.length}} items. </div>
         </div>

         <template v-if="selected">
            <h3>Target Project Area</h3>

            <select v-model="targetProjectArea" v-bind:class="{ disabled: isLoading }" class="ui search dropdown">
               <option v-for="pa in projectAreas" :id="pa.id">{{pa.name}}</option>
            </select>
            <br /><br />

            <div v-if="attributeDefinitions && attributeDefinitions.length > 0">
               <wi-migrator
                  :server-error="serverError"
                  :attribute-definitions="attributeDefinitions"
                  :move-successful="moveSuccessful">
               </wi-migrator>
            </div>

            <button v-bind:class="{ disabled: isDataMissing, loading: isQueryLoading }" class="ui button primary" v-on:click="moveWorkItems">Move {{countSelected}} Work Items</button>

            <div v-if="moveSuccessful" class="ui success message">
               <div class="header">Work Item Move Successful!</div>
               <p>All the selected Work Items have been moved to '{{targetProjectArea}}' project area successfully.</p>
            </div>
            <div v-if="moveSuccessful === false && attributeDefinitions.length <= 0" class="ui error message">
               <div class="header"> Work Item Move failed!</div>
               <p v-if="serverError !== null">{{serverError}}</p>
               <p v-else>Could not determine at least one of the specified Work Items. This might happen if you are trying to move a Work Item that has already been moved previously</p>
            </div>
         </template>
      </template>
	</div>

   <p class="wibm-ui-footer">A <a href="http://jazz-community.org" target="_blank">Jazz Community</a> project, hosted on <a href="https://github.com/jazz-community" target="_blank">GitHub</a>.</p>
</div>


