<div>
   <h3>Work Item Type Mappings</h3>
   <table class="ui celled table">
      <thead>
         <tr>
            <th>Source Type</th>
            <th>Target Type</th>
         </tr>
      </thead>
      <tbody>
         <template v-for="stype in typeMap">
            <tr>
               <td>
                  <img :src="stype.source.icon"></img>{{stype.source.name}}
               </td>
               <td>
                  <select @change="updateTypeMap(stype.source.id, stype.targetId)" v-model="stype.targetId">
                     <option v-for="ttype in targetTypes" :value="ttype.id">{{ttype.name}}</option>
                  </select>
               </td>
            </tr>
         </template>
      </tbody>
   </table>
</div>
