<div>
   <table class="ui celled table">
      <thead>
         <tr>
            <th :colspan="Object.keys(columns).length + 1">
               <div class="ui icon input">
                  <input class="prompt" name="query" type="text" placeholder="type to search..." v-model="filterKey">
                  <i class="search icon"></i>
               </div>
               <button v-bind:class="{ disabled: filterKey.length <= 0}" style="margin-left: 20px" class="ui button mini" v-on:click="filterKey = ''">Clear</button>
            </th>
         </tr>
         <tr>
            <th></th>
            <th v-for="key in Object.keys(columns)">
               {{columns[key].name}}
            </th>
         </tr>
      </thead>
      <tbody>
         <tr v-for="entry in filteredData">
            <td>
               <div class="ui fitted checkbox">
                  <input type="checkbox" v-model="entry.checked" />
                  <label><!-- Important: must have a label!--></label>
               </div>
            </td>
            <td v-bind:style="{opacity: entry.checked ? 1 : 0.5 }"
                v-html="columns[key].data(entry)"
                v-for="key in Object.keys(columns)">
            </td>
         </tr>
         <tr v-if="filteredData.length == 0">
            <td :colspan="Object.keys(columns).length + 1">Search did not match any result</td>
         </tr>
      </tbody>
      <tfoot class="full-width"> </tfoot>
   </table>
</div>
