<div>
   <table class="ui celled table">
      <thead>
         <tr>
            <th :colspan="Object.keys(columns).length + 1">
               <div class="ui icon input">
                  <input class="prompt" name="query" type="text" placeholder="type to search..." v-model="filterKey">
                  <i class="search icon"></i>
               </div>
               <button v-bind:class="{ disabled: filterKey.length <= 0}" style="margin-left: 20px" class="ui button mini" v-on:click="filterKey = ''">Clear Search</button>
            </th>
         </tr>
         <tr>
            <th colspan="2">
               <select @change="filterSelectChanged()" v-model="filterSelection">
                  <option v-for="option in getOptions()" v-bind:class="{disabled: option.disabled}" :value="option.id">{{option.name}}</option>
               </select>
            </th>
            <th v-for="key in Object.keys(columns)">
               {{columns[key].name}}
            </th>
         </tr>
      </thead>
      <tbody>
         <tr v-for="entry in filteredData">
            <td>
               <div class="ui fitted checkbox">
                  <input type="checkbox" v-model="entry.checked" :disabled="entry.moved" />
                  <label><!-- Important: must have a label!--></label>
               </div>
            </td>
            <td>
               <span style="color: green;" v-if="entry.moved">Moved</span>
               <span v-else>&nbsp;</span>
            </td>
            <td v-bind:style="{opacity: entry.checked && !entry.moved ? 1 : 0.5}"
                v-html="columns[key].data(entry)"
                v-for="key in Object.keys(columns)">
            </td>
         </tr>
         <tr v-if="filteredData.length == 0">
            <td :colspan="Object.keys(columns).length + 2">Search did not match any result</td>
         </tr>
      </tbody>
      <tfoot class="full-width">
         <tr>
            <th :colspan="Object.keys(columns).length + 2">
               <div style="display: flex; align-items: center; justify-content: space-between;">
                  <span v-if="filteredData.length < totalCount"><b class="highlight">{{selectedCount}} / {{totalCount}}</b> Work Items loaded</span>
                  <span v-else><b>All</b> Work Items loaded</span>
                  <span>
                     <button v-bind:class="{ disabled: !button.active }" class="ui button right floated tiny" v-on:click="button.action" v-for="button in buttons">{{button.name}}</button>
                  </span>
               </div>
            </th>
         </tr>
      </tfoot>
   </table>
</div>
