<div>
   <table class="ui celled table">
      <thead>
         <tr>
            <th colspan="3">
               <div class="ui icon input">
                  <input class="prompt" name="query" type="text" placeholder="type to search..." v-model="filterKey">
                  <i class="search icon"></i>
               </div>
            </th>
         </tr>
         <tr>
            <th>
               <!-- allow to accumulate selection -->
            </th>
            <th v-for="key in Object.keys(columns)">
               {{columns[key].name}}
            </th>
         </tr>
      </thead>
      <tbody>
         <tr v-for="entry in filteredData">
            <td>
               <div class="ui slider fitted checkbox">
                  <input type="checkbox" v-model="entry.checked" />
                  <label><!-- Important: must have a label!--></label>
               </div>
            </td>
            <td v-bind:style="{opacity: entry.checked ? 1 : 0.5 }"
                v-html="columns[key].data(entry)"
                v-for="key in Object.keys(columns)">
            </td>
         </tr>
      </tbody>
      <tfoot class="full-width"> </tfoot>
   </table>
</div>
